{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb",
    "airbnb/hooks"
  ],
  "plugins": ["react-hooks"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "comma-dangle": "off",
    "no-plusplus": "off",
    "import/no-unresolved": "off", // Temporary fix
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "react/forbid-prop-types": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react-hooks/rules-of-hooks": "error",
    "react/prop-types": "off",
    "linebreak-style": 0,
    "arrow-parens": ["error", "as-needed"],
    "no-console": "off",
    "operator-linebreak": ["error", "after"],
    "react-hooks/exhaustive-deps": 0,
    "no-unneeded-ternary": 0
    // "object-curly-newline": ["error", "never"]
  }
}
